body {
  background-color: #e4e4e4;
  font-family: 'Neuton', serif;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.wrapper {
  padding: 2em 0;
  background: url(../img/top-banner.png) repeat-x;
}

.logo {
  background: url(../img/logo-bg.png) no-repeat 50% 0;
  height: 300px;
  margin: 40px;
  position: absolute;
  float: left;
  width: 25%;
}

.logo img {
  position: absolute;
  top: 115px;
  left: 80px;
}

.header {
  float: left;
  width: 25%;
  overflow: auto;
}

.nav {
  position: absolute;
  margin-top: 400px;
  margin-left: 75px;
}

.nav li {
  border-bottom: 1px solid black;
  width: 150px;
}

.nav li:first-child {
  border-top: 1px solid black;
}

.content {
  float: right;
  width: 75%;
}

.about h2 {
    font-size: 30px;
}

.about p {
  font-size: 18px;
}

.main h3 {
  font-size: 25px;
  font-weight: lighter;
  background: url(../img/ornament.png) no-repeat 0 50%;
}


.people {
  float: left;
  margin: 15px;
}

.profile {
  width: 250px;
}

.footer {
  clear: both;
  background: url(../img/ornament.png) 50% 0 repeat-x;
  padding: 40px 0 20px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #890101;
}

a:hover {
  color: #DF3030;
}

.main img {
  border-radius: 12px;
  box-shadow: 5px 5px 5px -5px #777777;
}

ol, ul {
  list-style: none;
}

.first {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: .7em;
}

.last {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1em;
}

.about p {
  text-align: left;
  padding: 10px 100px;
  letter-spacing: .02em;
}

@media screen and (min-width: 1300px) {
  body {
    position: relative;
  }

  .logo {
    float: left;
    width: 25%;
    position: absolute;
  }

  .logo img {
    position: absolute;
    top: 115px;
    left: 120px;
  }


  .nav {
    position: absolute;
    top: 100px;
    right: 200px;
    text-align: center;
    margin: 20px auto;
    width: 800px;

  }

  .nav li {
    /*display: inline;*/
    margin: 40px;
    float: left;
    border-bottom: 1px solid black;
  }

  .nav li:first-child {
    border-top: none;
  }

  .profile {
    width: 150px;
  }

  .people {
    float: left;
    margin: 10px;
  }

  .content {
    float: right;
    width: 70%;
    /*margin-top: 100px;*/
    margin: 200px 40px;
  }

  .about {
    margin-top: 140px;
  }

  .footer {
    clear: both;
    text-align: center;
  }

}

@media screen and (max-width: 1200px) {
  .profile {
    width: 175px;
  }


}

@media screen and (max-width: 600px) {

 .profile {
   width: 200px;
 }

 .logo {
   background: none;
   width: 100%;
   display: inline;
 }

 .nav {
   margin-top: 4px;
   width: 450px;
   border-top: 1px solid black;
 }


 .nav li {
   font-size: 10px;
   float: left;
   margin: 0px 15px;
   width: 100px;
 }

 .nav li:first-child {
   border-top: none;
 }



 .content {
   float: none;
   width: 100%;
   margin-top: 300px;
 }

}
